<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Submit Apology</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
  </head>
  <body id="submit">
    <div class="submissionContainer">
      <h1 id="submitHeading">Submit Apology</h1>
      <form class="" action="/submit" method="post">
        <textarea name="submission" rows="15" cols="80"></textarea>
        <br><input type="submit" name="submit" id="submitButton" value="Submit">
      </form>
    </div>
  </body>
</html>
