body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  /* min-width: 300px; */
  background-color: #3d3f3f;
  color: #cdd4d3;
}
.company {
  height: 40px;
  width: 40px;
  /* outline: none; */
  border-style: solid;
  margin:0;
}
img {
  margin: 0;
}

.parent {
  display: flex;
  width: 100%;
}

.group1 {
  flex: 3;
  float: right;
  margin-top: 5px;
  margin-bottom: 10px;
}

.group2 {
  flex: 1;
  float: left;
}

#apologyText {
  display:none;
  /* margin-top: 5px; */
  font-size:16px;
  width: 300px;
}

#noApologyText {
  display: inline-block;
  /* margin-top: 5px; */
  font-size:16px;
  text-align: center;
  width: 300px;
}
#amazon, #google, #facebook, #uber {
  display:none;
  margin-top:5px;
}

#signature {
  font-size:16px;
}
